  .container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }        

  a {
    color: inherit;
    text-decoration: none;
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  name{
    color: #0070f3;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
  }
  gender{
    color: #0070f3;
    font-weight: bold;
    font-size: 13px;
    text-align: right;
  }
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  .title,
  .description {
    text-align: center;
  }
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    margin-top: 3rem;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .logo {
    height: 1em;
  }

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  .search input {
    margin-right: .5em;
  }
  button{
    background-color: #04AA6D;
    border-radius: 9px;
    color: white;          
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    .search input {
      margin-right: 0;
      margin-bottom: .5em;
    }

    .search input,
    .search button {
      width: 100%;
    }
  }

  .menu  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  } 
  
  .menu li{
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: left;
    cursor: pointer;
  }
  
  .menu li:hover:not(.active) {
    background-color: #111;
  }
  
  .menu li.active {
    float: right;
  }
  
  .active {
    background-color: #4CAF50;
  }